<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/brand/favicon_64.png">
    <title>Solar Panel Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <img src="/static/brand/logo_full.png" class="brand-logo">
    <h1>Solar Panel Lookup Control App</h1>
</div>    


<div class="container">
    <h1>QR Generation and Lookup</h1>
    
    {% if request.query_params.get("status") == "solar_success" %}
    <div class="success">Solar units imported successfully.</div>
    {% endif %}

    {% if request.query_params.get("status") == "tests_success" %}
    <div class="success">Panel tests imported successfully.</div>
    {% endif %}

    {% if request.query_params.get("status") == "solar_error" %}
    <div class="error">Error importing solar units.</div>
    {% endif %}

    {% if request.query_params.get("status") == "tests_error" %}
    <div class="error">Error importing panel tests.</div>
    {% endif %}

    <div class="card">
        <h2>Import Solar Panel Data (*first)</h2>
        <form action="/upload/solar" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload Solar Units File</button>
        </form>
    </div>

    <div class="card">
        <h2>Import Panel Tests Data</h2>
        <form action="/upload/tests" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload Panel Tests File</button>
        </form>
    </div>

    <div class="card">
        <h2>QR Lookup using Serial Number</h2>
        <form action="/items/lookup-view" method="get">
            <input type="text" name="serial" placeholder="Enter Serial Number" required>
            <button type="submit">View Item</button>
        </form>
    </div>

    <div style="margin-top: 15px;">
        <form action="/items/all" method="get">
            <button type="submit" class="secondary-btn">
            View All Panel QR's
            </button>
        </form>
    </div>


</div>

</body>
</html>
