<!-- HTML used for the list and tabularize the data extracted from the import -->
<!DOCTYPE html>
<html>
<head>
    <title>All Items</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="top-bar">
    <form action="/" method="get">
        <button type="submit" class="secondary-btn">
            ← Dashboard
        </button>
    </form>
</div>

<div class="container">

    <div class="card">
        <div style="text-align: right; margin-bottom: 15px;">
            <a href="/items/qr/download-all">
                <button class="secondary-btn">
                    Download All QR Codes
                </button>
            </a>
        </div>
        <h2>All Registered Panels</h2>

            <!-- TABLE LAYOUT AND DISPLAYED DATA -->
            <table class="items-table">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>New Serial Number</th>
                        <th>Internal ID</th>
                        <th>Manufacturer</th>
                        <th>QR Codes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <a href="/items/lookup-view?serial={{ item.internal_code }}" class="serial-link">
                                {{ item.internal_code }}
                            </a>
                            <div class="uuid-text">
                                {{ item.id }}
                            </div>
                        </td>
                        <td>{{ item.new_serial_number }}</td>

                        <td>{{ item.reference_code }}</td>

                        <td>{{ item.manufacturer }}</td>

                        <td class="action-cell">
                            <a href="/items/{{ item.internal_code }}/qr" target="_blank">
                                <button class="secondary-btn table-btn">
                                    View QR
                                </button>
                            </a>

                            <a href="/items/{{ item.internal_code }}/qr/download" target="_blank">
                                <button class="secondary-btn table-btn">
                                    Download QR
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>

    </div>

</div>

</body>
</html>
